.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fefc01;
    height: 100vh;
}

.app_body {
    background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png")
        no-repeat center;
    background-size: contain;
    height: 400px;
    width: 250px;
    padding: 74px;
}

.app_bodyBackground {
    background-color: white;
    height: 400px;
}

.app_logo {
    height: 70px;
    object-fit: contain;
}
